<div class='container justify-content-center'>
  <h1 class='text-center'>Edit restaurant</h1>

  <%= render "form", restaurant: @restaurant %>

  <br>

  <div>
    <%= link_to "Back to restaurants", restaurants_path %>
  </div>
</div>
