<div class='container bg-light'>
<h1>All Restaurants</h1>
<ul class='list-group'>
<% @restaurants.each do |restaurant| %>
<li class='list-group-item'><%= link_to restaurant.name, restaurant, class: 'text-decoration-none text-black' %></li>
<% end %>
</ul>

<br>

</div>
